@import "mixins";

.container-activity-full{
  @include fullSize;
}

#secuencer{
  position: fixed;
  z-index: 12000;
  background-color: rgba(255,255,255,0);
  top:2rem;
}

.frontImg-activity{
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 80%;
  left: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index:1000;
}

.btn-glass-intro{
    @include centerAnchorFixed;
    z-index: 10000;
    border: none;
    background: rgba( 255, 255, 255, 0 );
}

.btn-glass-intro:hover{
    background: rgba( 255, 255, 255, 0.04 );
    border: none;
}

.bubble-info{
  @include centerAnchorFixed;
  z-index: 10000;
  font-size: 2rem;
  width: 15rem;
  background-color: red;
  font-family: "Learners";
  border-radius: 2rem;
  padding: 1rem;
  border: 3px solid #c67206;
  background: rgb(250,202,64);
  background: linear-gradient(180deg, rgba(250,202,64,1) 0%, rgba(253,165,23,1) 100%);
  color: #20253b;
}

.bg-img-activity{
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.p-mainText-activity{
  font-family: "Learners";
  font-size: 3rem;
  text-align: center;
  width: 32rem;
}

.container-mainText-activity{
  position: fixed;
  z-index: 10000;
  top: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Learners';
  font-size:3rem;
  height: 20rem;
}

.container-btn-guide-activity{
  display: inline;
  position:fixed;
  left: 50%;
  top:47%;
  z-index:3000;
}

.bt-back-activity{
  transform: translate(-40.6vw,16vh);
}
.bt-next-activity{
  transform: translate(38vw,16vh);
}
