$phone-width: 480px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$desktop-width - 1px}) {

  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {

  }
}

@mixin background-pos {
  background-repeat:no-repeat;
  background-position:center bottom;
  background-attachment:scroll;
  background-size:cover;
}
@mixin background-pos-top {
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:scroll;
  background-size:contain;
}

@mixin padding-reset{
  padding: 0px;
}

@mixin pm-reset{
  padding: 0px;
  margin: 0px;
}

@mixin fullSize {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin font-learners{
  font-family: 'Learners';
}

@mixin centerAnchorFixed {
  position: fixed;
  left: 50%;
  top: 50%;
}
@mixin centerDownAnchorFixed {
  position: fixed;
  left: 50%;
  bottom: 0%;
}

@mixin glass {
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
}
